In [1]:
import numpy as np
import pandas as pd

In [2]:
data=pd.read_csv('New_clean_data.csv')
data.head()

,Category,Rating,Rating Count,Installs,Minimum Installs,Maximum Installs,Price,Size,Minimum Android,Released,Last Updated,Content Rating,Ad Supported,In App Purchases,Editors Choice,App Name,Free,Developer Id,Average_Installs
0,Adventure,0.0,0.0,10+,10.0,15,0.0,10.0,7.1,2020-02-26,2020-02-26,Everyone,False,False,False,Gakondo,True,Jean Confident Irénée NIYIZIBYOSE,12.5
1,Tools,4.4,64.0,"5,000+",5000.0,7662,0.0,2.9,5.0,2020-05-21,2021-05-06,Everyone,True,False,False,Ampere Battery Info,True,Webserveis,6331.0
2,Productivity,0.0,0.0,50+,50.0,58,0.0,3.7,4.0,2019-08-09,2019-08-19,Everyone,False,False,False,Vibook,True,Cabin Crew,54.0
3,Communication,5.0,5.0,10+,10.0,19,0.0,1.8,4.0,2018-09-10,2018-10-13,Everyone,True,False,False,Smart City Trichy Public Service Vehicles 17UC...,True,Climate Smart Tech2,14.5
4,Tools,0.0,0.0,100+,100.0,478,0.0,6.2,4.1,2020-02-21,2020-02-21,Everyone,False,False,False,GROW.me,True,Rafal Milek-Horodyski,289.0

# Overall Analysis

**1. Top 5 Apps by Installations**

In [3]:
data[['App Name', 'Maximum Installs']].sort_values(by='Maximum Installs', ascending=False).head()

                                 App Name  Maximum Installs
2155096              Google Play services       12057627016
881403                            YouTube        9766230924
1773294                            Google        9154248491
1733042  Google Maps - Navigate & Explore        9141671889
1060335             Google Text-to-Speech        9034404884

**2. Top 5 Apps with Highest Ratings and Rating Count**

In [4]:
data[data['Rating']==5][['App Name', 'Rating', 'Rating Count']].sort_values(by='Rating Count', ascending=False).head()

,App Name,Rating,Rating Count
845049,STUDiLMU: Your One-stop Solution Learning Partner,5.0,42908.0
391472,Crazy Fall,5.0,32370.0
771566,Calculator Plus,5.0,23856.0
252450,白沙屯媽祖 GPS 即時定位,5.0,18839.0
609994,"Жәннат Фирдаус - Намаз, Құран оқуды үйрену",5.0,18031.0

**3. AD Supported Percentage**

In [7]:
data['Ad Supported'].value_counts(normalize=True)*100

Ad Supported
False    50.246353
True     49.753647
Name: proportion, dtype: float64

**4. Signifcance of ADs in Editors Choice**

In [6]:
pd.crosstab(index=data['Ad Supported'], columns=data['Editors Choice'])

Editors Choice    False  True
Ad Supported
False           1161868    302
True            1150223    551

**5. Category Wise App Distribution**

In [5]:
data['Category'].value_counts(normalize=True)*100

Category
Education                  10.423512
Music & Audio               6.697352
Tools                       6.225313
Business                    6.215931
Entertainment               5.978355
Lifestyle                   5.116034
Books & Reference           5.046728
Personalization             3.856989
Health & Fitness            3.610550
Productivity                3.445738
Shopping                    3.253689
Food & Drink                3.196230
Travel & Local              2.909193
Finance                     2.830419
Arcade                      2.325694
Puzzle                      2.212246
Casual                      2.196897
Communication               2.082497
Sports                      2.052925
Social                      1.934072
News & Magazines            1.850758
Photography                 1.537089
Medical                     1.386328
Action                      1.191339
Maps & Navigation           1.155324
Simulation                  1.006596
Adventure                   1.003180
Educational                 0.921250
Art & Design                0.801533
Auto & Vehicles             0.790335
House & Home                0.621243
Video Players & Editors     0.605938
Events                      0.555180
Trivia                      0.509956
Beauty                      0.508962
Board                       0.457772
Racing                      0.448000
Role Playing                0.433819
Word                        0.373118
Strategy                    0.368621
Card                        0.353619
Weather                     0.313280
Dating                      0.282065
Libraries & Demo            0.224735
Casino                      0.219461
Music                       0.181673
Parenting                   0.164725
Comics                      0.123738
Name: proportion, dtype: float64

# Free vs Paid Apps

**1.Distribution of Free and Paid Apps**

In [8]:
data['Free'].value_counts(normalize=True)*100

Free
True     98.051488
False     1.948512
Name: proportion, dtype: float64

**2. Average Rating**

In [9]:
print(data[data['Free']==True]['Rating'].mean())
print(data[data['Free']==False]['Rating'].mean())

2.1885914176965597
2.3589331676577614

**3. Average Installs**

In [10]:
print(data[data['Free']==True]['Maximum Installs'].mean())
print(data[data['Free']==False]['Maximum Installs'].mean())

326228.01476006623
16950.962745185054

**4. Ad Support in Free and Paid Apps**

In [11]:
pd.crosstab(index=data['Free'], columns=data['Ad Supported'])

Ad Supported    False    True
Free
False           42405     2663
True          1119765  1148111

**5. Editors Choice in Free and Paid Apps**

In [12]:
pd.crosstab(index=data['Free'], columns=data['Editors Choice'])

Editors Choice    False  True
Free
False             45032     36
True            2267059    817

# Developer Analysis

**1. Top 5 Developers with Maximum Apps**

In [14]:
data['Developer Id'].value_counts().head()

Developer Id
Subsplash Inc    5422
TRAINERIZE       5153
ChowNow          4865
OrderYOYO        2884
Phorest          2821
Name: count, dtype: int64

**2. Top 5 Developers with Average Maximum Installations**

In [16]:
data.groupby('Developer Id')['Maximum Installs'].mean().sort_values(ascending=False).head()

Developer Id
WhatsApp LLC            2.323271e+09
Snap Inc                1.621265e+09
Flipboard               1.097368e+09
Viber Media S.à r.l.    9.794216e+08
Google LLC              9.431791e+08
Name: Maximum Installs, dtype: float64

**3. Top 5 Developers by Average Rating**

In [25]:
data.groupby('Developer Id')[['Rating', 'Rating Count']].mean().sort_values(by='Rating Count', ascending=False).head().sort_values(by='Rating', ascending=False)

                                          Rating  Rating Count
Developer Id
Roblox Corporation                      4.400000  2.214803e+07
GARENA INTERNATIONAL I PRIVATE LIMITED  4.300000  3.027602e+07
Snap Inc                                4.300000  2.634006e+07
WhatsApp LLC                            4.000000  4.730958e+07
Instagram                               3.933333  2.046797e+07

**4. Top 5 Developers with Highest Editors Choice Badge**

In [29]:
data[data['Editors Choice']==True].groupby('Developer Id')['Editors Choice'].count().sort_values(ascending=False).head()

Developer Id
ELECTRONIC ARTS                    10
Netmarble                           8
Gameloft SE                         7
NetEase Games                       6
BANDAI NAMCO Entertainment Inc.     6
Name: Editors Choice, dtype: int64